<div class="col-md-10">
  <button [routerLink]="['/form-produto']" class="btn btn-primary btn-Quad">Novo Produto</button>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <th scope="row">{{produto.id}}</th>
        <td>{{produto.nome}}</td>
        <td>R$ {{produto.preco}}</td>
        <td>{{produto.categoria.nome}}</td>
        <td>
          <button class="btn btn-primary btn-Quad">Alterar</button>
          <button class="btn btn-success btn-Quad">Visualizar</button>
          <button (click)="deletarProduto(produto.id)" class="btn btn-danger btn-Quad">Excluir</button></td>
      </tr>
    </tbody>
  </table>

</div>