<div class="col-md-10">
  <button [routerLink]="['/form-categoria']" class="btn btn-primary btn-Quad">Nova Categoria</button>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <th scope="row">{{categoria.id}}</th>
        <td>{{categoria.nome}}</td>
        <td>
          <button class="btn btn-primary btn-Quad">Alterar</button>
          <button class="btn btn-success btn-Quad">Visualizar</button>
          <button (click)="deletarCategoria(categoria.id)" class="btn btn-danger btn-Quad">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>