<div class="col-md-10">
    <button [routerLink]="['/categoria']" class="btn btn-primary btn-Quad">Voltar</button>
    <br><br>
    <form> 
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" placeholder="Id">
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
        <button type="submit" id="submit" class="btn btn-success btn-Quad pull-right">Cadastrar</button>
      </form>
  </div>