@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif !important;
}
.navbar-default {
    background-color: #269abc !important;
    border: #269abc !important;
}
.navbar {
    border-radius: 0px !important;
}
.navbar-default a {
    color: #fff !important;
}
.dropdown-menu {
    background-color: #269abc !important;
    border-color: #fff !important;
    border-radius: 0px !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #1b6d85 !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #1b6d85 !important;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #1b6d85 !important;
}
.rodape {
    background-color: #269abc;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    color: #fff;
}
.rodape a {
    color: #fff;
}
.rodape a:hover {
    color: #1b6d85;
    text-decoration: none;
}
.rodape1 {
    background-color: #269abc;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    color: #fff;
}
.rodape1 a {
    color: #fff;
}
.rodape1 a:hover {
    color: #1b6d85;
    text-decoration: none;
}
.nav-pills {
    border: 1px solid #269abc;
}
.nav-pills>li>a {
    border-radius: 0px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #269abc !important;
}
.nav-pills>li>a:hover {
    background-color: #1b6d85 !important;
    color: #fff !important;
}
.thumbnail {
    border-radius: 0px !important;
    border-color: #269abc !important;
}
.quad {
    border-radius: 0px !important;
    background-color: #269abc !important;
    border-color: #269abc !important;
}
.thumbnail a>img, .thumbnail>img {
    height: 152px !important;
}
.btn-primary:hover {
    background-color: #1b6d85 !important;
}
.caption h4 {
    font-weight: bold;
}
.caption h4 span {
    font-weight: normal;
}
.item h3 {
    margin-top: -3px;
}
.item1 h3 {
    margin-top: -3px;
    margin-left: 14px;
}
.corpo-login {
    background-color: #269abc;
    margin-top: 50px;
    padding: 30px;
    color: #fff;
    /*box-shadow: 1px 1px 5px 1px #1b6d85;*/
}
.form-control {
    border-radius: 0px !important;
}
.espaco {
    padding: 5px;
}
.quad1 {
    border-radius: 0px !important;
    border: #286090 !important;
}
.quad2 {
    color: #fff;
}
.quad2:hover {
    color: #fff;
}
.btn-danger {
    border-radius: 0px !important;
}