<!-- Início Menu do Site -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="" /></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Página Inicial</a></li>
        <li><a routerLink="/produto">Produtos</a></li>
        <li><a routerLink="/categoria">Categoria</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="item">
        <h3>Menu</h3>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Ração</a></li>
        <li role="presentation"><a href="#">Brinquedo</a></li>
        <li role="presentation"><a href="#">Aquecedores</a></li>
        <li role="presentation"><a href="#">Alimentos</a></li>
        <li role="presentation"><a href="#">Acessorios</a></li>
        <li role="presentation"><a href="#">Limpeza</a></li>
        <li role="presentation"><a href="#">Bebedouro</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
    