<div class="col-md-10">
    <button [routerLink]="['/produto']" class="btn btn-primary btn-Quad">Voltar</button>
    <br><br>
    <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome">
        </div>
        <div class="form-group">
          <label for="preco">Preço</label>
          <input type="text" class="form-control" id="preco" placeholder="Preço">
        </div>
        <div class="form-group">
          <label for="preco">Categoria</label>
          <input type="text" class="form-control" id="preco" placeholder="Categoria">
        </div>
        <button type="submit" class="btn btn-success btn-Quad pull-right">Cadastrar</button>
      </form>
  </div>